Repository jponf/aia-chaser: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-req, pip-audit, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            notebooks/
          )
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            notebooks/
          )
      - id: check-yaml
      - id: check-symlinks
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=1000"]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: |
          (?x)^(
            notebooks/
          )
  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
        exclude: |
          (?x)^(
            notebooks/
          )
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff # linter
      # - id: ruff-format
  - repo: local
    hooks:
      - id: update-req
        name: Update requirements.txt and requirements-dev.txt
        stages: [commit]
        language: system
        entry: make
        files: poetry.lock|requirements.txt|requirements-dev.txt
        pass_filenames: false
        args: [gen-req]
      - id: pip-audit
        name: pip-audit
        description: "Audits Python environments and dependency trees for known vulnerabilities"
        entry: poetry run pip-audit
        pass_filenames: false
        language: system
        files: poetry.lock|requirements.txt|requirements-dev.txt|requirements-test.txt
      - id: mypy
        name: Running mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        args: [--install-types, --non-interactive]
        types: [python]
        exclude: |
          (?x)^(
            scripts/|
            notebooks/
          )

      # - id: pytest
      #   name: pytest
      #   stages: [commit]
      #   language: system
      #   entry: poetry run pytest
      #   types: [python]

      # - id: pytest-cov
      #   name: pytest
      #   stages: [push]
      #   language: system
      #   entry: poetry run pytest --cov --cov-fail-under=100
      #   types: [python]
      #   pass_filenames: false

chore: Bump version and extend changelog
  CHANGELOG.md
  aia_chaser/__init__.py
  pyproject.toml
Due: mypy

fix: Capture urlopen HTTP errors
  aia_chaser/verify.py
Due: mypy

chore: Bump version and update changelog
  CHANGELOG.md
  aia_chaser/__init__.py
  pyproject.toml
Due: mypy

test: Remove URL that behaves erroneously
  tests/test_aia_chase.py
Due: mypy

chore: Update changelog
  CHANGELOG.md
Due: none

docs: Fix requests example and add httpx/aiohttp examples
  README.md
  docs/index.md
  docs/usage.md
Due: none

fix: Upgrade cryptography to fix vulnerabilities
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
Due: update-req, pip-audit

test: Add HTTP library integration tests
  tests/conftest.py
  tests/test_aia_chase.py
  tests/test_aiohttp.py
  tests/test_httpx.py
  tests/test_requests.py
  tests/test_urllib.py
  tests/test_urllib3.py
Due: mypy

ci: Add code coverage reporting to pytest
  .github/workflows/python-ci.yml
Due: none

docs: Update development guide with clearer structure
  docs/development.md
Due: none

docs: Add release process documentation
  RELEASING.md
Due: none

ci: Add --install-types flag to mypy in CI
  .github/workflows/python-ci.yml
Due: none

fix: Update httpx version and fix pip-audit pre-commit hook
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
Due: update-req, pip-audit

fix: Use revocation_date_utc to avoid deprecation warning
  aia_chaser/verify.py
Due: mypy

feat: Add retry support for OCSP requests
  aia_chaser/utils/http_utils.py
  aia_chaser/verify.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
Due: update-req, pip-audit, mypy

feat: Expose retry configuration in verification configs
  aia_chaser/verify.py
Due: mypy

docs: Add pycurl example and test
  README.md
  poetry.lock
  pyproject.toml
  requirements-test.txt
  tests/test_pycurl.py
  tests/test_requests.py
Due: update-req, pip-audit, mypy

feat: Add temp_pem_file utility for Windows compatibility
  README.md
  aia_chaser/utils/cert_utils.py
  tests/test_pycurl.py
  tests/test_requests.py
Due: mypy

fix: Add User-Agent header to pycurl test for CI compatibility
  tests/test_pycurl.py
Due: mypy

fix: Use ssl.PROTOCOL_TLS_CLIENT to avoid deprecation warning
  aia_chaser/chaser.py
  aia_chaser/utils/cert_utils.py
Due: mypy

fix: Address ruff linter warnings UP035 and B905
  aia_chaser/chaser.py
  aia_chaser/verify.py
Due: mypy

chore: Ignore B905 ruff rule for Python 3.8 compatibility
  aia_chaser/verify.py
  pyproject.toml
Due: mypy

test: Use custom SSLContext for expired certificate tests
  tests/test_aia_chase.py
Due: mypy

fix: Use PROTOCOL_TLS_CLIENT with disabled handshake verification
  aia_chaser/chaser.py
  tests/test_aia_chase.py
Due: mypy

ci: improve CI reliability and reduce matrix size
  .github/workflows/python-ci.yml
Due: none

chore: Bump version to 3.4.0
  CHANGELOG.md
  aia_chaser/__init__.py
  pyproject.toml
Due: mypy

fix: use 'poetry-core' as build backend
  pyproject.toml
Due: none

tests: add test data directory and cert_utils tests
  aia_chaser/exceptions.py
  tests/data/negative_serial.pem
  tests/test_cert_utils.py
Due: mypy

fix: skip unparseable trust-store certs and suppress CryptographyDeprecationWarning
  aia_chaser/utils/cert_utils.py
Due: mypy

feat: export AiaChaserError and AiaChaserWarning from top-level package
  aia_chaser/__init__.py
Due: mypy

docs: add contributing guide
  CONTRIBUTING.md
Due: none

build: add git-cliff config and document changelog generation
  RELEASING.md
  cliff.toml
Due: none

chore: Bump version to 3.4.1
  CHANGELOG.md
  aia_chaser/__init__.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
Due: update-req, pip-audit, mypy

fix(docs): comment out empty features key to avoid TypeError in mkdocs-autorefs
  mkdocs.yaml
Due: none
